body{
  font-family: 'IM Fell DW Pica', serif;
  background-color: rgb(208, 212, 213)
}

.fa-shopping-cart:before{
  font-size: 30px;
}

#title{
  font-size: 2.5rem;
}

#cartNum{
  font-size: 1.5rem;
}

.cartItemRow{
  height: 20vh;
}

.itemImage{
  height:18vh;
  width: auto;
}

.itemCard{
  width: 250px;
  height: 350px;
  cursor: pointer;
  border: none;
  background-color: rgb(208, 212, 213)
}

.itemCardFrame{
  height: 100%;
  position: absolute;
}

.overlay {
  position: absolute;
  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(120, 127, 129);
}

.itemCard:hover .overlay {
  opacity: .7;
}

.cardText {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 1
}

.detailsText{
  font-family: 'Crimson Text', serif;
}

.carouselHeader{
  height: 350px;
}

.backgroundImage{
  height:85vh;
  background-size: cover;
}


.pointer{
  cursor: pointer;
}
